services:
  ssos-backend:
    image: ${DOCKER_USERNAME}/ssos-backend:${IMAGE_TAG}
    container_name: ssos-backend
    restart: always
    ports:
      - "8088:8088"
    environment:
      SPRING_PROFILES_ACTIVE: prod
    env_file:
      - .env